/** Style for Resort **/


/** Typography **/
h1 {
  font-family: helvetica neue;
  color: #09d06a;
}

.best {
  font-weight: bold;
  color: darkblue;
  font-size: 18px;
  font-style: italic;
}
/** Components **/

.float-left {
  float:left;
}

.float-right {
  float:right;
}

img {
  padding: 25px;
}

body {
  background-color: #FFEB3B;
  text-align: center;
  font-family: futura;
}

ul {
  padding: 0px;
}

li {
  color: #0095ff;
  list-style-type: none;
}

 li a {
   text-decoration: none;
   color: #0095ff;
 }

 #homepage-link a {
   color: #8d17ab;
   text-decoration: none;
 }

 p.intro {
   font-weight: bold;
   font-style: italic;
 }

 .list {
   border: 3px solid beige;
  border-radius: 5px;
  margin: 0 auto;
  text-align: center;
  width: 200px;
 }
