/** Style for Resort **/


/** Typography **/
h1 {
  font-family: helvetica neue;
  color: #09d06a;
}

/** Components **/

body {
  background-color: #FFEB3B;
  text-align: center;
  font-family: futura;
}

li {
  color: #0095ff;
  list-style-type: none;
}

 li a {
   text-decoration: none;
   color: #0095ff;
 }

 #homepage-link a {
   color: #8d17ab;
   text-decoration: none;
 }
